<% if user_signed_in?%>
<% if link.can_be_voted_on_by?(current_user)%>
    <a href=<%= votes_create_path(:link_id => link.id) %>><i class="icon-thumbs-up"></i></a>
     <%else%>
        <i class="icon-thumbs-up"></i>
  <% end %>
  <% end %>


