<h1>List of links:</h1>

<table class="table table-striped">
  <tbody>
<%@links.each do |link|%>

    <tr>
      <td>
        <%= render :partial => "vote_button", :locals => {:link => link} %>
      </td>
      <td>
        <%= link_to link.title,  link.url %>
      </td>
      <td>
          <%= render :partial => "edit_button", :locals => {:link => link} %>
      </td>
    </tr>
<%end%>
 </tbody>
</table>

<%= paginate @links %>


